{
  "openapi": "3.1.0",
  "info": {
    "title": "Handled Unified Commerce Realtime API",
    "description": "Real-time proxy API for unified commerce operations across multiple e-commerce platforms. This API proxies requests directly to underlying platforms, translating between Handled's unified format and each platform's native API.",
    "version": "1.0.0",
    "contact": {
      "name": "Handled Support",
      "url": "https://docs.itshandled.dev",
      "email": "support@usehandled.io"
    }
  },
  "servers": [
    {
      "url": "https://api.usehandled.io/api/v1/paas/unified_realtime",
      "description": "Production API"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Orders",
      "description": "Order management operations"
    },
    {
      "name": "Returns",
      "description": "Return request management"
    },
    {
      "name": "Products",
      "description": "Product catalog operations"
    },
    {
      "name": "Inventory",
      "description": "Inventory management operations"
    },
    {
      "name": "Customers",
      "description": "Customer data operations"
    }
  ],
  "paths": {
    "/orders": {
      "get": {
        "tags": ["Orders"],
        "summary": "List orders",
        "description": "Retrieve a paginated list of orders from the connected platform.",
        "operationId": "listOrders",
        "parameters": [
          {
            "$ref": "#/components/parameters/ConnectionId"
          },
          {
            "$ref": "#/components/parameters/Limit"
          },
          {
            "$ref": "#/components/parameters/Cursor"
          },
          {
            "name": "status",
            "in": "query",
            "description": "Filter orders by status",
            "schema": {
              "type": "string",
              "enum": ["pending", "processing", "shipped", "delivered", "cancelled", "refunded"]
            }
          },
          {
            "name": "created_after",
            "in": "query",
            "description": "Filter orders created after this date (ISO 8601)",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "created_before",
            "in": "query",
            "description": "Filter orders created before this date (ISO 8601)",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrderListResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      },
      "post": {
        "tags": ["Orders"],
        "summary": "Create order",
        "description": "Create a new order on the connected platform.",
        "operationId": "createOrder",
        "parameters": [
          {
            "$ref": "#/components/parameters/ConnectionId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OrderCreate"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Order created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrderResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          }
        }
      }
    },
    "/orders/{order_id}": {
      "get": {
        "tags": ["Orders"],
        "summary": "Get order",
        "description": "Retrieve a specific order by ID.",
        "operationId": "getOrder",
        "parameters": [
          {
            "$ref": "#/components/parameters/ConnectionId"
          },
          {
            "name": "order_id",
            "in": "path",
            "required": true,
            "description": "The unique identifier of the order",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrderResponse"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "patch": {
        "tags": ["Orders"],
        "summary": "Update order",
        "description": "Update an existing order.",
        "operationId": "updateOrder",
        "parameters": [
          {
            "$ref": "#/components/parameters/ConnectionId"
          },
          {
            "name": "order_id",
            "in": "path",
            "required": true,
            "description": "The unique identifier of the order",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OrderUpdate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Order updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrderResponse"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          }
        }
      },
      "delete": {
        "tags": ["Orders"],
        "summary": "Cancel order",
        "description": "Cancel an existing order. This operation may not be supported by all platforms.",
        "operationId": "cancelOrder",
        "parameters": [
          {
            "$ref": "#/components/parameters/ConnectionId"
          },
          {
            "name": "order_id",
            "in": "path",
            "required": true,
            "description": "The unique identifier of the order",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Order cancelled successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrderResponse"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          }
        }
      }
    },
    "/returns": {
      "get": {
        "tags": ["Returns"],
        "summary": "List returns",
        "description": "Retrieve a paginated list of return requests from the connected platform.",
        "operationId": "listReturns",
        "parameters": [
          {
            "$ref": "#/components/parameters/ConnectionId"
          },
          {
            "$ref": "#/components/parameters/Limit"
          },
          {
            "$ref": "#/components/parameters/Cursor"
          },
          {
            "name": "status",
            "in": "query",
            "description": "Filter returns by status",
            "schema": {
              "type": "string",
              "enum": ["requested", "approved", "rejected", "received", "processing", "refunded", "completed"]
            }
          },
          {
            "name": "order_id",
            "in": "query",
            "description": "Filter returns by original order ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReturnListResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "post": {
        "tags": ["Returns"],
        "summary": "Create return",
        "description": "Initiate a new return request for an order.",
        "operationId": "createReturn",
        "parameters": [
          {
            "$ref": "#/components/parameters/ConnectionId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReturnCreate"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Return created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReturnResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          }
        }
      }
    },
    "/returns/{return_id}": {
      "get": {
        "tags": ["Returns"],
        "summary": "Get return",
        "description": "Retrieve a specific return request by ID.",
        "operationId": "getReturn",
        "parameters": [
          {
            "$ref": "#/components/parameters/ConnectionId"
          },
          {
            "name": "return_id",
            "in": "path",
            "required": true,
            "description": "The unique identifier of the return",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReturnResponse"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "patch": {
        "tags": ["Returns"],
        "summary": "Update return",
        "description": "Update the status or details of a return request.",
        "operationId": "updateReturn",
        "parameters": [
          {
            "$ref": "#/components/parameters/ConnectionId"
          },
          {
            "name": "return_id",
            "in": "path",
            "required": true,
            "description": "The unique identifier of the return",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReturnUpdate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Return updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReturnResponse"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          }
        }
      },
      "delete": {
        "tags": ["Returns"],
        "summary": "Cancel return",
        "description": "Cancel a pending return request.",
        "operationId": "cancelReturn",
        "parameters": [
          {
            "$ref": "#/components/parameters/ConnectionId"
          },
          {
            "name": "return_id",
            "in": "path",
            "required": true,
            "description": "The unique identifier of the return",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Return cancelled successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReturnResponse"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          }
        }
      }
    },
    "/returns/{return_id}/approve": {
      "post": {
        "tags": ["Returns"],
        "summary": "Approve return",
        "description": "Approve a pending return request.",
        "operationId": "approveReturn",
        "parameters": [
          {
            "$ref": "#/components/parameters/ConnectionId"
          },
          {
            "name": "return_id",
            "in": "path",
            "required": true,
            "description": "The unique identifier of the return",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReturnApproval"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Return approved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReturnResponse"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          }
        }
      }
    },
    "/returns/{return_id}/reject": {
      "post": {
        "tags": ["Returns"],
        "summary": "Reject return",
        "description": "Reject a pending return request.",
        "operationId": "rejectReturn",
        "parameters": [
          {
            "$ref": "#/components/parameters/ConnectionId"
          },
          {
            "name": "return_id",
            "in": "path",
            "required": true,
            "description": "The unique identifier of the return",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReturnRejection"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Return rejected successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReturnResponse"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          }
        }
      }
    },
    "/products": {
      "get": {
        "tags": ["Products"],
        "summary": "List products",
        "description": "Retrieve a paginated list of products from the connected platform.",
        "operationId": "listProducts",
        "parameters": [
          {
            "$ref": "#/components/parameters/ConnectionId"
          },
          {
            "$ref": "#/components/parameters/Limit"
          },
          {
            "$ref": "#/components/parameters/Cursor"
          },
          {
            "name": "sku",
            "in": "query",
            "description": "Filter by SKU (supports partial match)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "active",
            "in": "query",
            "description": "Filter by active status",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProductListResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "post": {
        "tags": ["Products"],
        "summary": "Create product",
        "description": "Create a new product on the connected platform.",
        "operationId": "createProduct",
        "parameters": [
          {
            "$ref": "#/components/parameters/ConnectionId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProductCreate"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Product created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProductResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          }
        }
      }
    },
    "/products/{product_id}": {
      "get": {
        "tags": ["Products"],
        "summary": "Get product",
        "description": "Retrieve a specific product by ID.",
        "operationId": "getProduct",
        "parameters": [
          {
            "$ref": "#/components/parameters/ConnectionId"
          },
          {
            "name": "product_id",
            "in": "path",
            "required": true,
            "description": "The unique identifier of the product",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProductResponse"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "patch": {
        "tags": ["Products"],
        "summary": "Update product",
        "description": "Update an existing product.",
        "operationId": "updateProduct",
        "parameters": [
          {
            "$ref": "#/components/parameters/ConnectionId"
          },
          {
            "name": "product_id",
            "in": "path",
            "required": true,
            "description": "The unique identifier of the product",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProductUpdate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Product updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProductResponse"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          }
        }
      },
      "delete": {
        "tags": ["Products"],
        "summary": "Delete product",
        "description": "Delete a product from the connected platform.",
        "operationId": "deleteProduct",
        "parameters": [
          {
            "$ref": "#/components/parameters/ConnectionId"
          },
          {
            "name": "product_id",
            "in": "path",
            "required": true,
            "description": "The unique identifier of the product",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Product deleted successfully"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          }
        }
      }
    },
    "/inventory": {
      "get": {
        "tags": ["Inventory"],
        "summary": "List inventory",
        "description": "Retrieve inventory levels for products.",
        "operationId": "listInventory",
        "parameters": [
          {
            "$ref": "#/components/parameters/ConnectionId"
          },
          {
            "$ref": "#/components/parameters/Limit"
          },
          {
            "$ref": "#/components/parameters/Cursor"
          },
          {
            "name": "location_id",
            "in": "query",
            "description": "Filter by inventory location",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "product_id",
            "in": "query",
            "description": "Filter by product ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InventoryListResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/inventory/{inventory_id}": {
      "get": {
        "tags": ["Inventory"],
        "summary": "Get inventory item",
        "description": "Retrieve a specific inventory record.",
        "operationId": "getInventory",
        "parameters": [
          {
            "$ref": "#/components/parameters/ConnectionId"
          },
          {
            "name": "inventory_id",
            "in": "path",
            "required": true,
            "description": "The unique identifier of the inventory record",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InventoryResponse"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "patch": {
        "tags": ["Inventory"],
        "summary": "Update inventory",
        "description": "Update inventory levels for a product.",
        "operationId": "updateInventory",
        "parameters": [
          {
            "$ref": "#/components/parameters/ConnectionId"
          },
          {
            "name": "inventory_id",
            "in": "path",
            "required": true,
            "description": "The unique identifier of the inventory record",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InventoryUpdate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Inventory updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InventoryResponse"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          }
        }
      }
    },
    "/inventory/adjust": {
      "post": {
        "tags": ["Inventory"],
        "summary": "Adjust inventory",
        "description": "Make relative adjustments to inventory levels (increment/decrement).",
        "operationId": "adjustInventory",
        "parameters": [
          {
            "$ref": "#/components/parameters/ConnectionId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InventoryAdjustment"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Inventory adjusted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InventoryResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          }
        }
      }
    },
    "/customers": {
      "get": {
        "tags": ["Customers"],
        "summary": "List customers",
        "description": "Retrieve a paginated list of customers from the connected platform.",
        "operationId": "listCustomers",
        "parameters": [
          {
            "$ref": "#/components/parameters/ConnectionId"
          },
          {
            "$ref": "#/components/parameters/Limit"
          },
          {
            "$ref": "#/components/parameters/Cursor"
          },
          {
            "name": "email",
            "in": "query",
            "description": "Filter by email address",
            "schema": {
              "type": "string",
              "format": "email"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerListResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "post": {
        "tags": ["Customers"],
        "summary": "Create customer",
        "description": "Create a new customer on the connected platform.",
        "operationId": "createCustomer",
        "parameters": [
          {
            "$ref": "#/components/parameters/ConnectionId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomerCreate"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Customer created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          }
        }
      }
    },
    "/customers/{customer_id}": {
      "get": {
        "tags": ["Customers"],
        "summary": "Get customer",
        "description": "Retrieve a specific customer by ID.",
        "operationId": "getCustomer",
        "parameters": [
          {
            "$ref": "#/components/parameters/ConnectionId"
          },
          {
            "name": "customer_id",
            "in": "path",
            "required": true,
            "description": "The unique identifier of the customer",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerResponse"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "patch": {
        "tags": ["Customers"],
        "summary": "Update customer",
        "description": "Update an existing customer.",
        "operationId": "updateCustomer",
        "parameters": [
          {
            "$ref": "#/components/parameters/ConnectionId"
          },
          {
            "name": "customer_id",
            "in": "path",
            "required": true,
            "description": "The unique identifier of the customer",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomerUpdate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Customer updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerResponse"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          }
        }
      },
      "delete": {
        "tags": ["Customers"],
        "summary": "Delete customer",
        "description": "Delete a customer from the connected platform.",
        "operationId": "deleteCustomer",
        "parameters": [
          {
            "$ref": "#/components/parameters/ConnectionId"
          },
          {
            "name": "customer_id",
            "in": "path",
            "required": true,
            "description": "The unique identifier of the customer",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Customer deleted successfully"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          }
        }
      }
    },
    "/passthrough": {
      "post": {
        "tags": ["Orders", "Returns", "Products", "Inventory", "Customers"],
        "summary": "Passthrough request",
        "description": "Make a direct API call to the underlying platform. Use this for platform-specific functionality not covered by the unified model.",
        "operationId": "passthrough",
        "parameters": [
          {
            "$ref": "#/components/parameters/ConnectionId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PassthroughRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful passthrough response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PassthroughResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "Your Handled API key"
      }
    },
    "parameters": {
      "ConnectionId": {
        "name": "x-connection-id",
        "in": "header",
        "required": true,
        "description": "The ID of the connected platform account",
        "schema": {
          "type": "string"
        }
      },
      "Limit": {
        "name": "limit",
        "in": "query",
        "description": "Maximum number of records to return (default: 50, max: 200)",
        "schema": {
          "type": "integer",
          "minimum": 1,
          "maximum": 200,
          "default": 50
        }
      },
      "Cursor": {
        "name": "cursor",
        "in": "query",
        "description": "Pagination cursor for fetching the next page",
        "schema": {
          "type": "string"
        }
      }
    },
    "responses": {
      "BadRequest": {
        "description": "Bad request - invalid parameters",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            },
            "example": {
              "error": {
                "code": "BAD_REQUEST",
                "message": "Invalid request parameters",
                "details": [
                  {
                    "field": "email",
                    "message": "Invalid email format"
                  }
                ]
              }
            }
          }
        }
      },
      "Unauthorized": {
        "description": "Unauthorized - invalid or missing API key",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            },
            "example": {
              "error": {
                "code": "UNAUTHORIZED",
                "message": "Invalid API key"
              }
            }
          }
        }
      },
      "NotFound": {
        "description": "Resource not found",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            },
            "example": {
              "error": {
                "code": "NOT_FOUND",
                "message": "Resource not found"
              }
            }
          }
        }
      },
      "Conflict": {
        "description": "Conflict - operation cannot be completed in current state",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            },
            "example": {
              "error": {
                "code": "CONFLICT",
                "message": "Order has already been shipped and cannot be cancelled"
              }
            }
          }
        }
      },
      "UnprocessableEntity": {
        "description": "Unprocessable entity - validation failed",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            },
            "example": {
              "error": {
                "code": "VALIDATION_ERROR",
                "message": "Validation failed",
                "details": [
                  {
                    "field": "line_items",
                    "message": "At least one line item is required"
                  }
                ]
              }
            }
          }
        }
      },
      "RateLimited": {
        "description": "Rate limit exceeded",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            },
            "example": {
              "error": {
                "code": "RATE_LIMITED",
                "message": "Rate limit exceeded for connected platform",
                "retry_after": 60
              }
            }
          }
        }
      }
    },
    "schemas": {
      "Error": {
        "type": "object",
        "required": ["error"],
        "properties": {
          "error": {
            "type": "object",
            "required": ["code", "message"],
            "properties": {
              "code": {
                "type": "string",
                "description": "Error code"
              },
              "message": {
                "type": "string",
                "description": "Human-readable error message"
              },
              "details": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "field": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              },
              "retry_after": {
                "type": "integer",
                "description": "Seconds to wait before retrying (for rate limits)"
              }
            }
          }
        }
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "next_cursor": {
            "type": "string",
            "nullable": true,
            "description": "Cursor for fetching the next page, null if no more pages"
          },
          "has_more": {
            "type": "boolean",
            "description": "Whether there are more records to fetch"
          }
        }
      },
      "Address": {
        "type": "object",
        "properties": {
          "line1": {
            "type": "string",
            "description": "Street address line 1"
          },
          "line2": {
            "type": "string",
            "nullable": true,
            "description": "Street address line 2"
          },
          "city": {
            "type": "string",
            "description": "City"
          },
          "state": {
            "type": "string",
            "description": "State/province/region"
          },
          "postal_code": {
            "type": "string",
            "description": "Postal/ZIP code"
          },
          "country": {
            "type": "string",
            "description": "ISO 3166-1 alpha-2 country code"
          }
        }
      },
      "Money": {
        "type": "object",
        "required": ["amount", "currency"],
        "properties": {
          "amount": {
            "type": "string",
            "description": "Amount as a decimal string (e.g., '99.99')"
          },
          "currency": {
            "type": "string",
            "description": "ISO 4217 currency code"
          }
        }
      },
      "Order": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier (Handled unified ID)"
          },
          "platform_id": {
            "type": "string",
            "description": "Original ID from the connected platform"
          },
          "order_number": {
            "type": "string",
            "description": "Human-readable order number"
          },
          "status": {
            "type": "string",
            "enum": ["pending", "processing", "shipped", "delivered", "cancelled", "refunded"]
          },
          "customer": {
            "$ref": "#/components/schemas/CustomerSummary"
          },
          "line_items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/LineItem"
            }
          },
          "shipping_address": {
            "$ref": "#/components/schemas/Address"
          },
          "billing_address": {
            "$ref": "#/components/schemas/Address"
          },
          "subtotal": {
            "$ref": "#/components/schemas/Money"
          },
          "shipping_total": {
            "$ref": "#/components/schemas/Money"
          },
          "tax_total": {
            "$ref": "#/components/schemas/Money"
          },
          "discount_total": {
            "$ref": "#/components/schemas/Money"
          },
          "total": {
            "$ref": "#/components/schemas/Money"
          },
          "notes": {
            "type": "string",
            "nullable": true,
            "description": "Order notes"
          },
          "metadata": {
            "type": "object",
            "additionalProperties": true,
            "description": "Platform-specific metadata"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "LineItem": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "product_id": {
            "type": "string"
          },
          "variant_id": {
            "type": "string",
            "nullable": true
          },
          "sku": {
            "type": "string",
            "nullable": true
          },
          "name": {
            "type": "string"
          },
          "quantity": {
            "type": "integer"
          },
          "unit_price": {
            "$ref": "#/components/schemas/Money"
          },
          "total": {
            "$ref": "#/components/schemas/Money"
          }
        }
      },
      "OrderCreate": {
        "type": "object",
        "required": ["line_items"],
        "properties": {
          "customer_id": {
            "type": "string",
            "description": "ID of existing customer (optional)"
          },
          "customer": {
            "$ref": "#/components/schemas/CustomerCreate",
            "description": "Customer details for new customer (if customer_id not provided)"
          },
          "line_items": {
            "type": "array",
            "minItems": 1,
            "items": {
              "type": "object",
              "required": ["product_id", "quantity"],
              "properties": {
                "product_id": {
                  "type": "string"
                },
                "variant_id": {
                  "type": "string"
                },
                "quantity": {
                  "type": "integer",
                  "minimum": 1
                }
              }
            }
          },
          "shipping_address": {
            "$ref": "#/components/schemas/Address"
          },
          "billing_address": {
            "$ref": "#/components/schemas/Address"
          },
          "notes": {
            "type": "string"
          },
          "metadata": {
            "type": "object",
            "additionalProperties": true
          }
        }
      },
      "OrderUpdate": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": ["processing", "shipped", "delivered", "cancelled"]
          },
          "shipping_address": {
            "$ref": "#/components/schemas/Address"
          },
          "notes": {
            "type": "string"
          },
          "metadata": {
            "type": "object",
            "additionalProperties": true
          }
        }
      },
      "OrderResponse": {
        "type": "object",
        "properties": {
          "data": {
            "$ref": "#/components/schemas/Order"
          }
        }
      },
      "OrderListResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Order"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          }
        }
      },
      "Return": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier (Handled unified ID)"
          },
          "platform_id": {
            "type": "string",
            "description": "Original ID from the connected platform"
          },
          "order_id": {
            "type": "string",
            "description": "ID of the original order"
          },
          "status": {
            "type": "string",
            "enum": ["requested", "approved", "rejected", "received", "processing", "refunded", "completed"]
          },
          "reason": {
            "type": "string",
            "description": "Reason for return"
          },
          "reason_code": {
            "type": "string",
            "enum": ["defective", "wrong_item", "not_as_described", "changed_mind", "damaged", "other"]
          },
          "line_items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ReturnLineItem"
            }
          },
          "refund_amount": {
            "$ref": "#/components/schemas/Money"
          },
          "shipping_label_url": {
            "type": "string",
            "nullable": true,
            "description": "URL to download return shipping label"
          },
          "tracking_number": {
            "type": "string",
            "nullable": true,
            "description": "Return shipment tracking number"
          },
          "notes": {
            "type": "string",
            "nullable": true
          },
          "metadata": {
            "type": "object",
            "additionalProperties": true
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "ReturnLineItem": {
        "type": "object",
        "properties": {
          "line_item_id": {
            "type": "string",
            "description": "ID of the original order line item"
          },
          "quantity": {
            "type": "integer",
            "description": "Quantity being returned"
          },
          "reason": {
            "type": "string"
          },
          "condition": {
            "type": "string",
            "enum": ["unopened", "opened", "damaged", "defective"]
          }
        }
      },
      "ReturnCreate": {
        "type": "object",
        "required": ["order_id", "line_items", "reason_code"],
        "properties": {
          "order_id": {
            "type": "string"
          },
          "line_items": {
            "type": "array",
            "minItems": 1,
            "items": {
              "type": "object",
              "required": ["line_item_id", "quantity"],
              "properties": {
                "line_item_id": {
                  "type": "string"
                },
                "quantity": {
                  "type": "integer",
                  "minimum": 1
                },
                "reason": {
                  "type": "string"
                },
                "condition": {
                  "type": "string",
                  "enum": ["unopened", "opened", "damaged", "defective"]
                }
              }
            }
          },
          "reason_code": {
            "type": "string",
            "enum": ["defective", "wrong_item", "not_as_described", "changed_mind", "damaged", "other"]
          },
          "reason": {
            "type": "string",
            "description": "Detailed reason for return"
          },
          "notes": {
            "type": "string"
          }
        }
      },
      "ReturnUpdate": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": ["received", "processing", "refunded", "completed"]
          },
          "tracking_number": {
            "type": "string"
          },
          "notes": {
            "type": "string"
          },
          "metadata": {
            "type": "object",
            "additionalProperties": true
          }
        }
      },
      "ReturnApproval": {
        "type": "object",
        "properties": {
          "refund_amount": {
            "$ref": "#/components/schemas/Money"
          },
          "generate_label": {
            "type": "boolean",
            "default": true,
            "description": "Whether to generate a return shipping label"
          },
          "notes": {
            "type": "string"
          }
        }
      },
      "ReturnRejection": {
        "type": "object",
        "required": ["reason"],
        "properties": {
          "reason": {
            "type": "string",
            "description": "Reason for rejection"
          }
        }
      },
      "ReturnResponse": {
        "type": "object",
        "properties": {
          "data": {
            "$ref": "#/components/schemas/Return"
          }
        }
      },
      "ReturnListResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Return"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          }
        }
      },
      "Product": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "platform_id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string",
            "nullable": true
          },
          "sku": {
            "type": "string",
            "nullable": true
          },
          "barcode": {
            "type": "string",
            "nullable": true
          },
          "price": {
            "$ref": "#/components/schemas/Money"
          },
          "compare_at_price": {
            "$ref": "#/components/schemas/Money",
            "nullable": true
          },
          "images": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "url": {
                  "type": "string"
                },
                "alt": {
                  "type": "string"
                },
                "position": {
                  "type": "integer"
                }
              }
            }
          },
          "variants": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ProductVariant"
            }
          },
          "active": {
            "type": "boolean"
          },
          "metadata": {
            "type": "object",
            "additionalProperties": true
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "ProductVariant": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "sku": {
            "type": "string",
            "nullable": true
          },
          "barcode": {
            "type": "string",
            "nullable": true
          },
          "price": {
            "$ref": "#/components/schemas/Money"
          },
          "options": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            },
            "description": "Variant options (e.g., {\"size\": \"M\", \"color\": \"Blue\"})"
          }
        }
      },
      "ProductCreate": {
        "type": "object",
        "required": ["name", "price"],
        "properties": {
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "sku": {
            "type": "string"
          },
          "barcode": {
            "type": "string"
          },
          "price": {
            "$ref": "#/components/schemas/Money"
          },
          "compare_at_price": {
            "$ref": "#/components/schemas/Money"
          },
          "images": {
            "type": "array",
            "items": {
              "type": "object",
              "required": ["url"],
              "properties": {
                "url": {
                  "type": "string"
                },
                "alt": {
                  "type": "string"
                }
              }
            }
          },
          "variants": {
            "type": "array",
            "items": {
              "type": "object",
              "required": ["name", "price"],
              "properties": {
                "name": {
                  "type": "string"
                },
                "sku": {
                  "type": "string"
                },
                "price": {
                  "$ref": "#/components/schemas/Money"
                },
                "options": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "active": {
            "type": "boolean",
            "default": true
          },
          "metadata": {
            "type": "object",
            "additionalProperties": true
          }
        }
      },
      "ProductUpdate": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "sku": {
            "type": "string"
          },
          "price": {
            "$ref": "#/components/schemas/Money"
          },
          "active": {
            "type": "boolean"
          },
          "metadata": {
            "type": "object",
            "additionalProperties": true
          }
        }
      },
      "ProductResponse": {
        "type": "object",
        "properties": {
          "data": {
            "$ref": "#/components/schemas/Product"
          }
        }
      },
      "ProductListResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Product"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          }
        }
      },
      "Inventory": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "product_id": {
            "type": "string"
          },
          "variant_id": {
            "type": "string",
            "nullable": true
          },
          "sku": {
            "type": "string",
            "nullable": true
          },
          "location_id": {
            "type": "string"
          },
          "location_name": {
            "type": "string"
          },
          "quantity": {
            "type": "integer",
            "description": "Available quantity"
          },
          "reserved": {
            "type": "integer",
            "description": "Quantity reserved for pending orders"
          },
          "incoming": {
            "type": "integer",
            "description": "Quantity in transit"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "InventoryUpdate": {
        "type": "object",
        "properties": {
          "quantity": {
            "type": "integer",
            "description": "Set absolute quantity"
          }
        }
      },
      "InventoryAdjustment": {
        "type": "object",
        "required": ["adjustments"],
        "properties": {
          "adjustments": {
            "type": "array",
            "items": {
              "type": "object",
              "required": ["inventory_id", "delta"],
              "properties": {
                "inventory_id": {
                  "type": "string"
                },
                "delta": {
                  "type": "integer",
                  "description": "Amount to adjust (positive to add, negative to subtract)"
                },
                "reason": {
                  "type": "string",
                  "enum": ["received", "sold", "returned", "damaged", "correction", "other"]
                }
              }
            }
          }
        }
      },
      "InventoryResponse": {
        "type": "object",
        "properties": {
          "data": {
            "$ref": "#/components/schemas/Inventory"
          }
        }
      },
      "InventoryListResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Inventory"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          }
        }
      },
      "Customer": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "platform_id": {
            "type": "string"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "first_name": {
            "type": "string"
          },
          "last_name": {
            "type": "string"
          },
          "phone": {
            "type": "string",
            "nullable": true
          },
          "default_address": {
            "$ref": "#/components/schemas/Address",
            "nullable": true
          },
          "addresses": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Address"
            }
          },
          "total_orders": {
            "type": "integer"
          },
          "total_spent": {
            "$ref": "#/components/schemas/Money"
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "metadata": {
            "type": "object",
            "additionalProperties": true
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "CustomerSummary": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "email": {
            "type": "string"
          },
          "first_name": {
            "type": "string"
          },
          "last_name": {
            "type": "string"
          }
        }
      },
      "CustomerCreate": {
        "type": "object",
        "required": ["email"],
        "properties": {
          "email": {
            "type": "string",
            "format": "email"
          },
          "first_name": {
            "type": "string"
          },
          "last_name": {
            "type": "string"
          },
          "phone": {
            "type": "string"
          },
          "default_address": {
            "$ref": "#/components/schemas/Address"
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "metadata": {
            "type": "object",
            "additionalProperties": true
          }
        }
      },
      "CustomerUpdate": {
        "type": "object",
        "properties": {
          "email": {
            "type": "string",
            "format": "email"
          },
          "first_name": {
            "type": "string"
          },
          "last_name": {
            "type": "string"
          },
          "phone": {
            "type": "string"
          },
          "default_address": {
            "$ref": "#/components/schemas/Address"
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "metadata": {
            "type": "object",
            "additionalProperties": true
          }
        }
      },
      "CustomerResponse": {
        "type": "object",
        "properties": {
          "data": {
            "$ref": "#/components/schemas/Customer"
          }
        }
      },
      "CustomerListResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Customer"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          }
        }
      },
      "PassthroughRequest": {
        "type": "object",
        "required": ["method", "path"],
        "properties": {
          "method": {
            "type": "string",
            "enum": ["GET", "POST", "PUT", "PATCH", "DELETE"],
            "description": "HTTP method"
          },
          "path": {
            "type": "string",
            "description": "API path on the underlying platform"
          },
          "headers": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            },
            "description": "Additional headers to send"
          },
          "query": {
            "type": "object",
            "additionalProperties": true,
            "description": "Query parameters"
          },
          "body": {
            "type": "object",
            "additionalProperties": true,
            "description": "Request body"
          }
        }
      },
      "PassthroughResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "integer",
            "description": "HTTP status code from the platform"
          },
          "headers": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            }
          },
          "data": {
            "type": "object",
            "additionalProperties": true,
            "description": "Response body from the platform"
          }
        }
      }
    }
  }
}